body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: #ffffff;
		border: 0;
		color: #000000;
		padding: 16px 20px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}





svg#play {
	width:200px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	transform-origin: 50% 50%;
  }
  
  svg#play #triangle {
	fill:rgba(22,22,22,0);
	transition:500ms;
	transform-origin: 50% 50%;
  }
  svg#play:hover #triangle {
	fill:#cd3a3a;
	transform-origin: 50% 50%;
  }
  
   svg #lineOne, svg #lineTwo {
	transform-origin: 50% 50%;
	transition: 1s;
  } 
  
   svg:hover #lineOne {
	transform: rotate(260deg);
	 -webkit-transform: rotate(260deg);
  -moz-transform: rotate(260deg);
  -o-transform: rotate(260deg);
	 transform-origin: 50% 50%;
  } 
  
   svg:hover #lineTwo {
	transform: rotate(-450deg);
	 transform-origin: 50% 50%;
  } 






 #backgroundplaceholder{
	/* background-color: black;  */
  background-color: white; 
  /* padding: 12em; */
  /* margin-left: 30%; */
  width:100%;
  height:100%;
}
/* the button's base size, shape, appearance */
#playPauseButton{
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);
	transform-origin: 50% 50%;
	
/* position: relative; */
/* the button's background color */
background: #fff; 
border: none;
outline:none;
height: 5em;
width: 5em;
font-size: 2em; 
box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
cursor:pointer;
 /* the button's a circle */ 
  -moz-border-radius: 5em;
  -webkit-border-radius: 5em;
  border-radius: 5em;

}

#playPauseButton:focus{
outline:none;
}

/* the button's top layer: size, shape, appearance */
#playPauseButton:before {
content: "";
position: absolute;
top: 1.5em;
 /* for visual centering */
left: 1.67em;
height: 0;
border-style: solid;
border-width: 1em 0 1em 2em;
/* create shape with color */
border-color: transparent transparent transparent #e52d27; 
transition: .218s ease;
}

#playPauseButton:hover:before {
height: 2em;
border-width: 0 0 0 2em;
}

/* the button's mouseover/click/hover layer: size, shape, appearance */
#playPauseButton:after {
content: "";
position: absolute;
background: inherit;
width: 0;
height: 2em;
top: 1.5em;
 /* for visual centering */
left: 2.42em;
transition: .218s ease;
}

#playPauseButton:hover:after {
width: .5em;
}